.carousel {
    position: relative;
    max-width: 1200px; /* Ajusta el ancho según tus necesidades */
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-image {
    min-width: 100%;
        box-sizing: border-box;
  }
  
  .carousel-image img {
    width: 100%;
    display: block;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .indicator {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .indicator.active,
  .indicator:hover {
    background-color: rgba(255,255,255,0.9);
  }
  